.root   {
 -fx-background-color: #F7BB26;
 -fx-border-color: white;
 -fx-padding: 10 10 10 10;

}

.root2   {
 -fx-background-color: #175AB6;
 -fx-border-color: white;
 -fx-padding: 10 10 10 10;

}



.borders {
 -fx-background-color: #0662BD;
 -fx-border-color: white;
 -fx-padding: 10 10 10 10;

}

.label {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.btn {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      background-color: #fff;
      color: #646464;
    }

    body {
    text-align: center;
}
.mdl-layout {
    align-items: center;
  justify-content: center;
}
.mdl-layout__content {
    padding: 24px;
    flex: none;
}
.mdl-button {
    margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

   /* .button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }

    .button.narrow {
      width: 60px;
    }

    .button.grey {
      background-color: #eee;
    }

    .button.blue {
      background-color: #4285f4;
      color: #fff;
    }

    .button.green {
      background-color: #0f9d58;
      color: #fff;
    }


     .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }

    .button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }*/