.root   {
 -fx-background-color: #F7BB26;
 -fx-border-color: white;
 -fx-padding: 5 5 5 5;

}

.root2   {
 -fx-background-color: #175AB6;
 -fx-border-color: white;
 -fx-padding: 5 5 5 5;

}

.root3   {
 -fx-background-color: #F5F5F5;
 -fx-padding: 5 5 5 5;

}

.label {
	-fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1.5;
}

.table-view .label {
	-fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;

}

.label-header {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
    -fx-padding: -10px;
}
